<!-- app/templates/book_class.html -->
{% extends "base.html" %}
{% block title %}Бронирование Класса - c_work{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Бронирование Класса: {{ class_.name }}</h2>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form-group">
            <label for="day">Выберите день недели:</label>
            <select name="day" id="day" class="form-control" required>
                {% for day in available_days %}
                    <option value="{{ day }}">{{ day }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Забронировать</button>
    </form>
</div>
{% endblock %}