<!-- app/templates/change_password.html -->
{% extends "base.html" %}

{% block title %}Изменить Пароль - c_work{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Изменить Пароль</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.current_password.label(class="form-control-label") }}
            {{ form.current_password(class="form-control") }}
            {% for error in form.current_password.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.new_password.label(class="form-control-label") }}
            {{ form.new_password(class="form-control") }}
            {% for error in form.new_password.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.confirm_new_password.label(class="form-control-label") }}
            {{ form.confirm_new_password(class="form-control") }}
            {% for error in form.confirm_new_password.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
        <a href="{{ url_for('main.profile') }}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}