<!-- app/templates/home.html -->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="container mt-4">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div class="container">
        <h1 class="mt-5">Добро пожаловать!</h1>
        {% if current_user.is_authenticated %}
            <p>Привет, {{ current_user.username }}!</p>
            <a href="{{ url_for('main.classes') }}" class="btn btn-info">Просмотреть Классы</a>
            <a href="{{ url_for('main.logout') }}" class="btn btn-secondary">Выйти</a>
        {% else %}
            <a href="{{ url_for('main.login') }}" class="btn btn-primary">Войти</a>
            <a href="{{ url_for('main.register') }}" class="btn btn-success">Регистрация</a>
        {% endif %}
    </div>
</body>
</html>