<!-- app/templates/home.html -->

{% extends "base.html" %}

{% block title %}Главная - c_work{% endblock %}

{% block content %}
    <div class="image-gallery-container">
    <div class="card">
        <img src="{{ url_for('static', filename='images/3.jpg') }}">
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='images/2.jpg') }}">
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='images/5.jpg') }}">
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='images/4.jpg') }}">
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='images/1.jpg') }}">
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='images/6.jpg') }}">
    </div>
</div>

    <h3 class="mt-5 mb-3 text-center">Доступные Классы</h3>
    <div class="row">
        {% for class in classes %}
        <div class="col-md-4 mb-4">
            {% set extended = False %}
            {% set class_ = class %}
            {% include 'partials/class_card.html' %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
