<!-- app/templates/my_bookings.html -->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мои Бронирования</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="container mt-4">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div class="container">
        <h2 class="mt-5">Мои Бронирования</h2>
        {% if bookings %}
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th>Название Класса</th>
                        <th>Расписание</th>
                        <th>Дата Бронирования</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.class_.name }}</td>
                        <td>{{ booking.class_.schedule.strftime('%Y-%m-%d %H:%M') }}</td>
                        <td>{{ booking.booking_date.strftime('%Y-%m-%d %H:%M') }}</td>
                        <td>{{ booking.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>У вас ещё нет бронирований.</p>
        {% endif %}
        <a href="{{ url_for('main.home') }}" class="btn btn-secondary">Назад</a>
    </div>
</body>
</html>